@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --link-color: #212121;
  --link-active-color: #2196f3;
  --text-font-family: "Roboto", sans-serif;
  --heading-font-family: "Raleway", sans-serif;
  --text-color: #757575;
  --heading-color: #212121;
}

/* Introdus din video - posibil sa nu se potriveasca cu tema mea */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-font-family);
  color: #212121;
}

ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-navigation {
  display: flex;
  align-items: center;
  padding: 24px 0 24px 215px;
  background: #ececec;
}

.main-menu {
  display: flex;
  gap: 50px;
  padding-left: 93px;
  padding-right: 376px;
}

.logo-part1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-part2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-part3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

.main-menu,
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.main-menu,
.link:hover,
.link:focus {
  color: #2196f3;
}

.top-contacts {
  padding-left: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.top-contacts:hover,
.top-contacts:focus {
  color: #2196f3;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2f303a;
  height: 600px;
}

.brand-slogan {
  color: #fff;
  text-align: center;
  width: 680px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.top-button {
  background-color: #2196f3;
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  border-radius: 4px;
}

.h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.what-we-do-section h5 {
  display: inline-block;
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.what-we-do-section span {
  display: inline-block;
  width: 270px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 30px;
}

.what-we-do-section {
  padding-left: 215px;
  width: 1600px;
}

.section-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* clasa provizorie pana gasesc o solutie la centrarea "What we do"*/
.title-section {
  width: 1150px;
}

.what-we-do-img {
  display: flex;
  gap: 30px;
}

.our-team {
  background: #f5f4fa;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.people-our-team {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 368px;
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #212121;
}

.job-description {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #2f303a;
  height: 251px;
}

.footer-logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
  padding-bottom: 28px;
  padding-left: 215px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 215px;
  padding-bottom: 12px;
}

.footer-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 215px;
}

.filter-button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  height: 38px;
  padding: 6px 22px;
}

.filter-button:active {
  background: #2196f3;
  border-radius: 4px;
}

.filter-button:hover {
  background: #2196f3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.filter-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  gap: 8px;
}

.portofolio-products ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  gap: 30px;
  padding-left: 215px;
  padding-bottom: 94px;
}

.product-name {
  background: #fff;
  border-style: inherit;
  border: 1px solid #eee;
}

.product-name h4 {
  padding-top: 20px;
  padding-bottom: 4px;
}

.product-name p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 20px;
}
